{% extends "layouts/default.twig" %}

{% block content %}

	<h1>Registered!</h1>
   
	<p>Use an authenticator app to add 2fa:</p>

	<img src="{{ otp_image }}" width="300" height="300" />
	
{% endblock %}